.search {
	display: flex;
	justify-content: center;
	margin: 2.5% 20%;
}
.search input {
	width: 100%;
	border: none;
	/* border-radius: 30px; */
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: rgb(233, 233, 233);
	padding: 0px 20px;
}

.search input:focus {
	background-color: rgb(220, 220, 220);
	outline: none;
	transition: 0.5s;
	/* opacity: 1; */
}
.icon-search {
	display: block;
	/* margin: 10px; */
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: rgb(233, 233, 233);
	padding: 10px 20px;
}
.icon-search-hover {
	background-color: rgb(220, 220, 220);
	transition: 0.5s;
	color: lightcoral;
}
.options {
	font-family: 'Karla', sans-serif;
	display: flex;
	justify-content: center;
	margin: 2.5% 20%;
	align-items: center;
}
